/*
@author Vladimir Reznichenko <kalessil@gmail.com>
@date 12-Jul-2011
*/

#distribution-installer-head {
	margin-top: 20px;
}
#distribution-installer-main .row {
	margin-bottom: 20px;
}
#distribution-installer-main .row .header {
	font-size: 1.5em;
	padding: 5px;
}
#distribution-installer-main .row .header:hover {
	background-color: #eaeaea;
}
#distribution-installer-main .row .header .controls {
	float: right;
}
#distribution-installer-main .row .header .button-undo {
	color: orange;
}
#distribution-installer-main .row .header .controls-skip {
	color: #dadada;
}

#distribution-installer-main .row .content {
	padding: 5px;
}
#distribution-installer-main .row .content .mod-unknown {
	color: #f00;
}
#distribution-installer-main .row .content .mod-disabled {
	color: orange;
}
#distribution-installer-main .row .content .mod-enabled {
	color: #0f0;
}
#distribution-installer-main .row .content .mod-partial {
	color: #00f;
}
#distribution-installer-main .row .content .mod-missing {
	color: grey;
}
#distribution-installer-main .row .content .mod-installing {
	background: transparent url('images/loading.gif') no-repeat left 50%;
	padding-left: 20px;
	text-decoration: underline;
	color: #f00;
	font-size: 14px;
}